<app-header></app-header>
<div>
    <mat-card class="example-card" *ngFor="let d of details">
        <mat-card-header>
            <mat-card-title>{{d.collection.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{d.collection.image_url}}">
        <mat-card-content>
            {{d.collection.description}}
        </mat-card-content>
        <button mat-button color="primary" (click)="saveDetail(d.collection)">Click Me</button>
    </mat-card>
    <router-outlet></router-outlet>
</div>
